@mixin main-padding {
  padding: 0 10%;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: white;
  z-index: 1000;
  @include main-padding();
}

main {
  margin-top: 8vh;
}

.landing {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 92vh;
  @include main-padding();

  .top {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .contact {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .contact img {
      margin-right: 1rem;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
}

// project
.project-container {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 800px) {
    & {
      margin: 0 10%;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
    }
  }
}

.project {
  width: 90%;
  margin-bottom: 5rem;
  position: relative;

  .title {
    font-size: 2.4rem;
    line-height: 1.1;
    text-align: end;
    font-weight: bold;
  }

  &::after {
    content: attr(data-number);
    position: absolute;
    top: 0;
    right: -1.8rem;
    font-weight: bold;
  }
}

.project-representative-image {
  width: 100%;
}

// project detail
.project-detail-main {
  @include main-padding();

  .project-title {
    margin-top: 1.4rem;
  }
}

.project-detail-title {
  margin-bottom: 0.4rem;
}

.preview-image {
  width: 100%;
  position: relative;
  margin: 6rem 0;

  &::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.margin-bottom {
  margin-bottom: 4rem;
}

.skill-list {
  display: flex;
}

.skill {
  background-color: rgb(49, 49, 49);
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

// media query
@media (min-width: 1000px) {
  .landing {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    .top {
      align-items: center;
    }
  }

  .project-landing {
    flex-direction: row;
  }

  .project-landing-top {
    flex: 1;
  }
}
